#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2px;
  text-align: center;
}

.header {
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  text-align: center;

}
.headerImage {
  width: 24%; 
  height: 5%; 
  animation: pulse 2s infinite alternate;
}

@keyframes pulse {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(0.94); 
  }
}

.articles-list {
  display: grid;
  grid-template-columns: repeat(4, 2fr);
  grid-gap: 20px;
  list-style: none;
}
.article {
  border: 2px solid #969696;
  padding: 20px;
  text-align: center; 
}
.article h3 {
  margin-top: 0;
  
}
.article p {
  margin: 0;
}
.article img {
  max-width: 100%;
  height: auto;
  display: block; 
  margin: 0 auto;
  transition: transform 0.1s ease; 
}

.article img:hover {
  transform: scale(1.05); 
}

.single-article {
  padding: 20px;
  margin-bottom: 20px;
  width: auto;
  padding-bottom: 10px;
}
.single-article h2 {
  margin-top: 0;
  font-size: 24px; 
}
.single-article p {
margin: 0 0 10px 0;
padding: 1px;
text-align: justify;
}
.single-article img {
  max-width: 33%;
  height: auto;
  display: block;
  margin: 0 auto;
  border-radius: 10px; 
}

.comments {
  margin-left: 40px;
  margin-top: 20px;
}
.comments ul {
  list-style: none;
  padding: 0;
}
.comment-body {
  font-size: 16px;
  margin-bottom: 2px;
  background-color: #073a70;

}
.comment-info {
  font-size: 12px;
  color: #ffffff;
  margin-bottom: 2px;
}
.comment-votes {
  font-size: 11px;
  color:#e25b0c
}

.toggle-button {
  background-color: #007bff; 
  color: #fff; 
  padding: 10px 30px; 
  border: none; 
  border-radius: 10px; 
  font-size: 16px; 
  margin-top: 1px; 
}
.toggle-button:hover {
  background-color: #0056b3; 
}

.vote-button {
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-size: 16px;
  margin: 5px;
  cursor: pointer;
  float: left;
}

.vote-button:hover {
  background-color: #0056b3;
}

.vote-button.upvoted {
  background-color: #28a745;
  justify-content: space-around; 
}

.vote-button.downvoted {
  background-color: #dc3545;
  justify-content: space-around; 
}

.voting-buttons {
  display: flex;
  justify-content: space-around; 
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.footer {
  background-color: #333;
  color: #fff;
  padding: 1px; 
  text-align: center;
  position: s;
  width: 100%;
  height: 50px;
  bottom: 0;
  left: 0;
}
.footer a {
  color: #fff;
  text-decoration: none;
}
.footer a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 768px) {
  .footer {
    height: 33px; 
  }
}


