#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000; 
  text-align: center;
}

.headerImage {
  width: 24%; 
  height: 5%; 

  animation: pulse 2s infinite alternate;
}
@keyframes pulse {
  from {
    transform: scale(1); 
  }
  to {
    transform: scale(0.94); 
  }
}




.card {
  padding: 2em;
}



.footer {
  background-color: #333;
  color: #fff; 
  padding: 2px; 
  text-align: center; 
  position: fixed; 
  width: auto; 
  height: 50px; 
  bottom: 0; 
  left: 0; 
  right: 0;
  margin-left: auto; 
  margin-right: auto; 
}
.footer a {
  color: #fff; 
  text-decoration: none; 
}

.footer a:hover {
  text-decoration: underline; 
}



